.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.featuredPost {
  display: flex;
  width: 60%;
  height: 60%;
  border-radius: 5px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}
.featuredPost .featuredPost-image {
  width: 60%;
  height: 100%;
}
.featuredPost .featuredPost-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px 0 0 5px;
}
.featuredPost .featuredPost-metadata {
  position: relative;
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.featuredPost .featuredPost-metadata .featuredPost-title h1 {
  font-size: 30px;
  margin: 2rem 0;
  font-weight: 500;
}
.featuredPost .featuredPost-metadata .featuredPost-content p {
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 300;
  margin-bottom: 1rem;
}
.featuredPost .featuredPost-metadata .featuredPost-date h2 {
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
  position: absolute;
  right: 2rem;
}
