@import url("https://fonts.googleapis.com/css2?family=Allura&family=Yatra+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}
.appwrapper {
  width: 100%;
}
h1,
.resume h2 {
  font-family: "Allura", sans-serif;
}
h5 {
  font-size: 16px;
}
h2,
h3,
h4,
h5,
p,
a {
  font-family: "Yatra One", sans-serif;
}
a {
  display: block;
  padding: 1rem;
  background-color: red;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

/***** Banner styles  *****/
.scrolling {
  width: 100vw;
  height: 100vh;
  background-image: url("/src/components/assets/main.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}
.scrolling::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
}
.welcome-area {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}
.welcome-area h1,
h2,
a {
  color: white;
  margin-top: 0.7rem;
}
.welcome-area a {
  border-radius: 1rem;
  padding: 1rem 1.5rem;
}
.welcome-area h1 {
  font-size: 60px;
}
.scroll-icon {
  position: absolute;
}

/***** navbar styles   ****/
header .navbar-toggle {
  display: none;
}
header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
  width: 100%;
}
header .logo {
  margin-left: 2rem;
}
header .logo h1 {
  margin: 1rem;
  color: white;
  font-size: 3rem;
}
header .links {
  display: flex;
  justify-content: space-between;
}
header .links a {
  background-color: inherit;
  margin: 1rem;
}
header .links a:hover {
  color: red;
}

/***** About Section ***/
#about,
.aboutme,
.resume,
.education,
.experience,
.calltoAction,
footer .contact-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aboutme h1,
.resume h2 {
  font-size: 3rem;
  margin: 5rem 0 5rem 0;
  color: black;
}
.aboutme-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
#aboutme-image {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 15rem;
  overflow: hidden;
}
#aboutme-image img {
  width: 300px;
  height: 250px;
  object-fit: cover;
}
#aboutme-text {
  width: 50%;
  margin-right: 5rem;
}
#aboutme-text h2 {
  color: black;
  margin: 0 0 1rem 0;
}
#aboutme-button a {
  display: inline-block;
  font-size: 15px;
  padding: 0.5rem 1.5rem;
}

/*** Resume section   ***/
.resume {
  margin-bottom: 2rem;
}
.education h3,
.experience h3 {
  margin: 1rem 0 2rem 0;
}
.highlights {
  width: 100%;
}
.timeline {
  width: 100%;
  position: relative;
}
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  left: 50%;
  top: 0;
  bottom: 0;
  background-color: grey;
  border-radius: 10px;
}
.timeline .container {
  padding: 2rem;
  width: 50%;
  position: relative;
}
.timeline .container .content {
  box-shadow: 0 5px 15px grey;
  border-radius: 15px;
  padding: 2rem;
}
.content:hover,
.content:hover .timeline-icon svg {
  background-color: red;
  color: white;
  border-color: red;
  transition: all 0.3s linear;
}
.content:hover .timeline-icon svg {
  background-color: white;
  color: black;
}
.left {
  left: 0%;
}
.right {
  left: 50%;
}
.right::after {
  left: -2%;
}
.timeline .timeline-icon svg {
  position: absolute;
  font-size: 3rem;
  border: 5px solid gray;
  background-color: white;
  border-radius: 50%;
  top: 3rem;
  z-index: 1;
}
.left > .content .timeline-icon svg {
  right: -4%;
}
.right > .content .timeline-icon svg {
  left: -3%;
}
.timeline .container .content h3 {
  margin-bottom: 0rem;
}

/**** Contact Section Styles ****/

#contact {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./components/assets/contact.jpg);
  background-position: center;
  background-size: cover;
  height: 20rem;
  background-attachment: fixed;
  position: relative;
}
#contact::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.calltoAction {
  position: relative;
  z-index: 1;
}
.calltoAction a {
  border-radius: 20px;
  padding: 1rem 2rem;
}
.calltoAction h3 {
  color: white;
  font-size: 1rem;
  font-weight: 300;
}
.calltoAction h2 {
  margin: 1rem;
  font-family: "Allura", sans-serif;
  font-size: 3rem;
}

/**** Contact Information  ***/
footer {
  width: 100%;
  height: 15rem;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
footer div > p {
  color: white;
}

footer .icon svg {
  color: white;
  font-size: 4rem;
}

/**** Smaller screen styles   ****/

@media screen and (max-width: 600px) {
  /*** Navbar ****/

  header .links {
    display: none;
  }
  header .navbar-toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 2rem;
  }
  header .navbar-toggle span {
    outline: 2px solid #fff;
    width: 1.5rem;
    margin: 5px;
    transition: all linear 0.3s;
  }
  header .navbar-modal {
    position: absolute;
    width: 75%;
    background-color: white;
    top: 5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 10rem;
    left: 10%;
    border-radius: 5px;
  }
  .navbar-modal ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .navbar-modal ul li {
    display: inline-block;
    list-style: none;
  }
  .navbar-modal ul li a {
    text-decoration: none;
    color: #000;
    background-color: inherit;
  }
  .navbar-modal ul li a:hover {
    color: red;
  }

  /**** About Section  ****/
  .aboutme h1 {
    margin: 2rem;
  }
  .aboutme-content {
    flex-direction: column;
    padding: 1rem;
  }
  #aboutme-image,
  #aboutme-text,
  #aboutme-image img {
    width: 100%;
  }
  .highlights {
    padding: 2rem;
  }
  .timeline::after {
    left: 0;
  }
  .timeline .container {
    width: 100%;
  }
  .left,
  .right {
    left: 0%;
  }

  .left > .content .timeline-icon svg,
  .right > .content .timeline-icon svg {
    left: -1.1rem;
  }
  .calltoAction {
    text-align: center;
  }
  .calltoAction h2 {
    font-size: 2rem;
  }
  .calltoAction h3 {
    font-size: 1rem;
  }
  footer {
    flex-direction: column;
    height: auto;
    justify-content: space-between;
  }
  .contact-container {
    margin: 1rem;
  }
}
